{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Act Smart &#9679; Reset Your Password</title>
</head>
<body>
    <!-- Header Area -->
        <header class="other">
            {% include 'navbar.html' %}
        </header>
    <!-- End Of Header Area -->
    <div class="banner-password">
        <div class="content">
            <div class="panel">
                <div class="panel-heading"><h2>Did you asked for password reset?</h2></div>
                <div class="panel-body">
                    <p>If you asked for password reset for email {{ email }}. Follow the link below:
                        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                        Thank you for being part of our Act Smart Community!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>