{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Act Smart &#9679; Reset Your Password</title>
</head>
<body>
    <!-- Header Area -->
        <header class="other">
            {% include 'navbar.html' %}
        </header>
    <!-- End Of Header Area -->
    <div class="banner-password">
        <div class="content">
            <div class="panel">
                <div class="panel-heading"><h2>Reset your password</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="imgBx">
                                <img src="{% static "images/email.png" %}" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <p>We’ve emailed you instructions for setting your password. Don't forget to check your
                                spam folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>