{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Act Smart &#9679; Reset Your Password</title>
</head>
<body>
    <!-- Header Area -->
        <header class="other">
            {% include 'navbar.html' %}
        </header>
    <!-- End Of Header Area -->
    <div class="banner-password">
        <div class="content">
            <div class="panel">
                <div class="panel-heading"><h2>Set new password</h2></div>
                <div class="panel-body">
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="password" placeholder="New password" name="new_password1" class="form-control"><br>
                        <input type="password" placeholder="New password confirmation" name="new_password2" class="form-control"><br>
                        <button type="submit">Save</button>
                    </form>
                    {% else %}
                        <p>Invalid link!</p>
                        <a href="{% url 'password_reset' %}" id="invalid">Request e new password reset link.</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>z
</body>
</html>