{% load static %}
<section class="mentor" id="Mentor">
        <img src="{% static "images/plant.png" %}" class="img-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h6>{{ mentor_content.line_one }}</h6>
                        <h2>{{ mentor_content.line_two }}</h2>
                        <p>{{ mentor_content.line_three }}</p>
                        <ul>
                            {% for m in mentor_features %}
                                <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ m.feature }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="pulse">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <form action="/call_mentor/" method="post">
                            {% csrf_token %}
                            <div class="panel">
                                <div class="panel-body">
                                    <input class="form-control" type="text" placeholder="Name & Surname" name="name"
                                           required>
                                    <input class="form-control" type="email" placeholder="Email Address" name="email" required>
                                    <input class="form-control" type="text" placeholder="Phone Number" name="phone" required>
                                    <label>Choose the opportunity you want!</label>
                                    <select class="form-control" id="opp" name="opportunity" required>
                                        <option value="">-- select one -- </option>
                                        <option value="Bachelor">Bachelor</option>
                                        <option value="Master">Master</option>
                                        <option value="Phd">Phd</option>
                                        <option value="Fellowship">Fellowship</option>
                                        <option value="Trainings">Trainings</option>
                                        <option value="Conferences">Conferences</option>
                                        <option value="Internships">Internships</option>
                                        <option value="Jobs">Jobs</option>
                                        <option value="Contests">Contests</option>
                                        <option value="Grants">Grants</option>
                                        <option value="Volunteering">Volunteering</option>
                                    </select>
                                    <label>Available</label>
                                    <select class="form-control" id="available" name="available" required>
                                        <option value="">-- select one -- </option>
                                    </select>
                                    <button>Call now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </section>