{% load static %}
<div class="contact-form">
    <p>Register Here</p>
    <form action="/register/" method="post">
        {% csrf_token %}
        <h4>Register in one of our trainings</h4>
        <h5>Do not miss our classes with proffesional mentors.</h5>
        <input type="text" placeholder="Name Surname" name="name" required><br>
        <input type="email" placeholder="Email" name="email" required><br>
        <input type="text" placeholder="Phone Nr" name="phone" required><br>
        <label id="select">Gender</label><br>
        <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label id="select">Country</label><br>
        <select id="country" name="country" required>
            {% for c in countries %}
                <option value="{{ c.name }}">{{ c.name }}</option>
            {% endfor %}
        </select><br>
        <label id="select">Training</label><br>
        <select name="training" required>
            {% for t in trainings %}
                <option value="{{ t.name }}">{{ t.name }}</option>
            {% endfor %}
        </select><br>
        <button class="btn">Sign Up</button>
    </form>
</div>