{% load static %}
<!DOCType html>
<html>
    <head>
        {% include 'head.html' %}
        <title>Act Smart &#9679; Scholarships</title>
    </head>
    <body>
        <!-- Header Area -->
        <header class="other">
            {% include 'navbar.html' %}
        </header>
        <!-- End Of Header Area -->

        <!-- Scholarship Corner -->
        <section id="opp-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="box">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <h2>Scholarship Corner</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="cat-box">
                        <ul>
                            <li>
                                <a href="/scholarships?id=Bachelor" id="mobile" class="{% if request.get_full_path == '/scholarships/?id=Bachelor'  %}active{% endif %}">
                                    <span>Bachelor</span>
{#                                    <div class="wave"></div>#}
                                </a>
                                 <a href="/scholarships?id=Bachelor" id="desktop" class="{% if request.get_full_path == '/scholarships/?id=Bachelor'  %}active{% endif %}">
                                    <span>Bachelor</span>
{#                                    <div class="wave"></div>#}
                                </a>
                            </li>
                            <li>
                                <a href="/scholarships?id=Master" id="mobile" class="{% if request.get_full_path == '/scholarships/?id=Master'  %}active{% endif %}">
                                    <span>Master</span>
                                    <div class="wave"></div>
                                </a>
                                 <a href="/scholarships?id=Master" id="desktop" class="{% if request.get_full_path == '/scholarships/?id=Master'  %}active{% endif %}">
                                    <span>Master</span>
{#                                   <div class="wave"></div>#}
                                </a>
                            </li>
                            <li>
                                <a href="/scholarships?id=PhD" id="mobile" class="{% if request.get_full_path == '/scholarships/?id=PhD'  %}active{% endif %}">
                                    <span style="text-transform: none">PhD</span>
{#                                    <div class="wave"></div>#}
                                </a>
                                <a href="/scholarships?id=PhD" id="desktop" class="{% if request.get_full_path == '/scholarships/?id=PhD'  %}active{% endif %}">
                                    <span style="text-transform: none">PhD</span>
{#                                    <div class="wave"></div>#}
                                </a>
                            </li>
                            <li>
                                <a href="/scholarships?id=Fellowship" id="mobile" class="{% if request.get_full_path == '/scholarships/?id=Fellowship'  %}active{% endif %}">
                                    <span>Fellowship</span>
{#                                    <div class="wave"></div>#}
                                </a>
                                <a href="/scholarships?id=Fellowship" id="desktop" class="{% if request.get_full_path == '/scholarships/?id=Fellowship'  %}active{% endif %}">
                                    <span>Fellowship</span>
{#                                    <div class="wave"></div>#}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="opp-container">
                        <div class="row">
                            {% if request.get_full_path == '/scholarships/?id=PhD'  %}
                                <h3 class="mobile">PhD</h3>
                            {% elif request.get_full_path == '/scholarships/?id=Master' %}
                                <h3 class="mobile">Master</h3>
                            {% elif request.get_full_path == '/scholarships/?id=Bachelor' %}
                                <h3 class="mobile">Bachelor</h3>
                            {% elif request.get_full_path == '/scholarships/?id=Fellowship' %}
                                <h3 class="mobile">Fellowship</h3>
                            {% endif %}

                            {% if user.is_authenticated %}
                                {% for p in scholarship|slice:"8" %}
                                    {% if p.deadline >= today %}
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="opp">
                                                <div class="imgBx">
                                                    <a href="/information_scholarships?id={{ p.id }}" target="_blank"><img src={{ p.image_small.url }}></a>
                                                </div>
                                                <div class="content-visible">
                                                    <h4>{{ p.title }}</h4>
                                                    <hr>
                                                    <h5><span>Deadline:</span>&nbsp;{{ p.deadline }}</h5>
                                                    <h5><span>Location:</span>&nbsp;{{ p.location }}</h5>
                                                </div>
                                                <div class="content-hidden">
                                                    <a href="/information_scholarships?id={{ p.id }}" target="_blank"><h3>{{ p.small_description }}</h3></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for p in scholarship|slice:"4" %}
                                    {% if p.deadline >= today %}
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="opp">
                                                <div class="imgBx">
                                                    <a href="/login/" target="_blank"><img src={{ p.image_small.url }}></a>
                                                </div>
                                                <div class="content-visible">
                                                    <h4>{{ p.title }}</h4>
                                                    <hr>
                                                    <h5><span>Deadline:</span>&nbsp;{{ p.deadline }}</h5>
                                                    <h5><span>Location:</span>&nbsp;{{ p.location }}</h5>
                                                </div>
                                                <div class="content-hidden">
                                                    <a href="/login/" target="_blank"><h3>{{ p.small_description }}</h3></a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            {% if opportunite == 'PhD' %}
                                <a id="more" href="/PhD">See More</a>
                                {% elif opportunite == 'Master'  %}
                                <a id="more" href="/Master">See More</a>
                                {% elif opportunite == 'Bachelor'  %}
                                <a id="more" href="/Bachelor">See More</a>
                                {% elif opportunite == 'Fellowship'  %}
                                <a id="more" href="/Fellowship">See More</a>
                            {% endif %}
                            {% else %}
                            <a id="more" href="/login">See More</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Scholarship Corner -->

        <!-- Modal -->
        {% include 'modal.html' %}
        <!--End Of Modal -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!--End Of Footer -->

        <!-- Scripts -->
        {% include 'scripts.html' %}

        <script>
            $(document).ready(function() {
              $('#Register').modal('show');
            });
        </script>

    </body>
</html>