{% load static %}
<!DOCType html>
<html>
    {% include 'head.html' %}
    <title>Act Smart &#9679; Opportunity Information</title>
    <link href="{% static "OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" %}" rel="stylesheet" type="text/css">
    <style>
        .owl-theme .owl-nav.disabled+.owl-dots {margin-top: -33px; margin-bottom: 7px;}
        .owl-theme .owl-dots .owl-dot span {width: 7px; height: 7px}
    </style>
    <body>
        <!-- Header Area -->
        <header class="other">
            {% include 'navbar.html' %}
        </header>
        <!-- End Of Header Area -->
        
        <!-- Item -->
        <section id="template">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="info">
                            <div class="tags">
                                {% for c in cat %}
                                    <h5>{{ c }}</h5>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <div class="icon-pulse">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <h2>{{ scholarship.title }}</h2>
                                </div>
                            </div>
                            <img src={{ scholarship.image_big.url }} class="img-fluid">
                            <div class="important">
                                <div class="icon-important">
                                    <i class="fa fa-thumb-tack" aria-hidden="true"></i><span> Important Information</span>
                                </div>
                                <h3><span>Deadline:</span> <span>{{ scholarship.deadline }}</span></h3>
                                <h3><span>Location:</span> <span>{{ scholarship.location }}</span></h3>
                                <h4>Learning Objectives: <span></span></h4>
                                <p>{{ scholarship.objectives }}</p>
                            </div>
                            <div class="description">
                                <h4>Description:</h4>
                                <p>{{ scholarship.description }}</p>
                            </div>
                            {% if scholarship.founded == 'Y' %}
                                <div class="founded">
                                    <h4>Funded:</h4>
                                    <ul>
                                        {% for f in features %}
                                            <li> {{ f }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="not-founded">
                                    <h4>Not-Funded</h4>
                                </div>
                            {% endif %}
                            <div class="eligibility">
                                <h4>Eligibility:</h4>
                                {% if  eligible %}
                                    <ul id="eligible">
                                    {% for e in  eligible %}
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>{{ scholarship.eligibility }}</p>
                                {% endif %}
                            </div>
                            <div class="link">
                                <h6>For further information visit <a href="{{ scholarship.official_link }}" target="_blank">the official link</a>.</h6>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="save">
                                    <h6><a href="/add_s?id={{ scholarship.id }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;Save this opportunity</a></h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="side-right">
                            <div class="contact-form">
                                <p>Need Some Extra Help?</p>
                                <form action="/call_mentor_scholarship/" method="post">
                                    {% csrf_token %}
                                    <input type="text" value="{{ scholarship.title }}" name="opp" style="display: none;">
                                    <h4>Do you want to enroll in this program? </h4>
                                    <h2>Call Your Mentor Now!</h2>
                                    <ul>
                                        <li>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            We offer the best opportunities for you!
                                        </li>
                                        <li>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            We provide career consulting!
                                        </li>
                                        <li>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            We support your ambitious ideas and dreams!
                                        </li>
                                        <li>
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                            Join our community!
                                        </li>
                                    </ul>
                                    <button class="btn">Call Now</button>
                                </form>
                            </div>
                        </div>
                        <div class="container now">
                            <p>Oops!</p>
                            <h2>Trainings Happening Right Now!</h2>
                            <div class="owl-carousel owl-theme">
                                {%  for t in training %}
                                    <div class="item">
                                    <div class="img-Bx">
                                        <a href="/trainings/"><img src={{ t.images.url }} class="img-fluid"></a>
                                    </div>
                                    <h6><a href="/trainings/" class="name"><i class="fa fa-hand-o-right"></i><span>{{ t.name }}</span></a></h6>
                                </div>
                                {% endfor %}
                            </div>
                            <p><a href="/trainings/" class="more">Click here to learn more!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Item -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!--End Of Footer -->

        <script type="text/javascript" src="{% static "OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/owl.carousel.js" %}"></script>
        <script type="text/javascript">
            $('.owl-carousel').owlCarousel({
                loop:false,
                margin:10,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:1
                    },
                    1000:{
                        items:1
                    }
                }
            })
        </script>
         <!-- Scripts -->
        {% include 'scripts.html' %}
    </body>
</html>