{% load static %}
<!DOCType html>
<html>
    {% include 'head.html' %}
    <title>Act Smart &#9679; Opportunity</title>
    <body>
        <!-- Header Area -->
        <header class="header_area other">
            {% include 'navbar.html' %}
        </header>
        <!-- End Of Header Area -->
        
        <!-- Opportunity -->
        <section id="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                <div class="icon-pulse">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-11 col-sm-9 col-xs-9">
                                <h2>{{ category }}</h2>
                            </div>
                        </div>
                        <h4 id="browse">Search for your opportunity:</h4>
                        <div class="opp-container">
                            {% for s in scholarship %}
                                {% if s.deadline >= today %}
                                <div class="opp">
                                    <div class="imgBx">
                                        <a href="/information_scholarships?id={{ s.id}}" target="_blank"><img src={{ s.image_small.url }}></a>
                                    </div>
                                    <div class="content-visible">
                                        <h4>{{ s.title }}</h4>
                                        <hr>
                                        <h5><span>Deadline:</span>{{ s.deadline }}</h5>
                                        <h5><span>Location:</span>{{ s.location }}</h5>
                                    </div>
                                    <div class="content-hidden">
                                        <a href="/information_scholarships?id={{ s.id }}" target="_blank"><h3>{{ s.small_description }}</h3></a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="container right">
                            <h2 style="font-size: 13px;">Hey You!</h2>
                            <h4>You are halfway to success!</h4> <br>
                            <div class="box">
                                <div class="chart" data-percent="50">50%</div>
                            </div>
                            <a href="/enroll/" target="_blank">
                                <span>Enroll Now</span>
                                <div class="wave"></div>
                            </a>
                            <h4>To reach 100%!</h4>
                        </div>
                        <div class="side-right">
                            {% include 'register_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Opportunity -->
        
        <!-- Mentor -->
        {% include 'mentor.html' %}
        <!-- End Of Mentor -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!--End Of Footer -->


        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="{% static "js/jquery.easypiechart.js" %}"></script>
        <script>
            $(function() {
                $('.chart').easyPieChart({
                    //your options goes here
                });
            });
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        {% include 'mentor_script.html' %}
    </body>
</html>