{% load static %}
<!DOCType html>
<html>
    <head>
        {% include 'head.html' %}
        <title>Act Smart &#9679; My Profile</title>
    </head>
    <body>
        <!-- Header Area -->
        <header class="header_area other">
            {% include 'navbar.html' %}
        </header>
        <!-- End Of Header Area -->
        <!--User Profile-->
        {% for p in profile %}
        <section class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <div class="box">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <h2>My Profile</h2>
                    </div>
                </div>
                <div class="row user_profile">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 contact" data-aos="zoom-in" data-aos-once="true" data-aos-easing="linear" data-aos-duration="500">
                        <div class="images">
                            {% if p.gender == 'M' %}
                            <img src="{% static 'images/boy.PNG' %}"><br>
                                {% elif p.gender == 'F' %}
                                <img src="{% static 'images/girl.jpg' %}"><br>
                                {% else %}
                                 <img src="{% static 'images/other.PNG' %}"><br>
                            {% endif %}
                            <img src="{% static 'images/logo_circle.png' %}" id="icon"><br>
                        </div>
                        <div class="information">
                            <h2>{{p.full_name}}</h2>
                            <div class="data">
                                <a><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                <span>My E-mail</span>
                                <h4>{{ p.email }}</h4>
                                <hr>
                            </div>
                            <div class="data">
                                <a><i class="fa fa-phone" aria-hidden="true"></i></a>
                                <span>My Phone Number</span>
                                <h4>{{ p.phone_number }}</h4>
                                <hr>
                            </div>
{#                            <div class="data">#}
{#                                <a> <i class="fa fa-calendar-check-o" aria-hidden="true"></i></a>#}
{#                                <span>Subscription Started</span>#}
{#                                <h4>{{ premium_order.date_register }}</h4>#}
{#                                <hr>#}
{#                            </div>#}
{#                            <div class="data">#}
{#                                <a><i class="fa fa-clock-o" aria-hidden="true"></i></a>#}
{#                                <span>Subscription Ends</span>#}
{#                                <h4>{{ premium_order.date_expired }}</h4>#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 description" data-aos="zoom-in-right" data-aos-once="true" data-aos-easing="linear" data-aos-duration="500">
                        <div class="content">
{#                                <div class="saved">#}
{#                                    <div class="icon-saved simple">#}
{#                                        <i class="fa fa-bullhorn" aria-hidden="true"></i><span>Update your profile#}
{#                                        now to get unlimited opportunities!</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <a href="{% url 'payment' user.id  %}" id="more">Click Here To Update to Premium</a>#}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="now">
                                            <p>What You Will Get From Us</p>
                                            {% for f in s_features %}
                                                <h6><i class="fa fa-hand-o-right"></i><span> {{ f }}</span></h6>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="now">
                                            <p>More Opportunities - Comming Soon</p>
                                            {% for f in p_features %}
                                                <h6><i class="fa fa-hand-o-right"></i><span> {{ f }}</span></h6>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="saved">
                                    <div class="icon-saved">
                                        <i class="fa fa-thumb-tack" aria-hidden="true"></i><span>Saved Scholarships</span>
                                    </div>
                                </div>
                                {% if scholarships %}
                                <div class="opp-container profile">
                                    <div class="row">
                                        {% for s in scholarships %}
                                            <div class="opp">
                                                <div class="imgBx">
                                                    <a href="/information_scholarships?id={{ s.scholarships.id }}"><img src="{{ s.scholarships.image_small.url }}"></a>
                                                </div>
                                                <div class="content-visible">
                                                    <h4>{{ s.scholarships.title }}</h4>
                                                    <hr>
                                                    <h5><span>Deadline:</span> {{ s.scholarships.deadline }}</h5>
                                                    <h5><span>Location:</span> {{ s.scholarships.location }}</h5>
                                                </div>
                                                <div class="content-hidden">
                                                    <a href="/information_scholarships?id={{ s.scholarships.id }}"><h3>{{ s.scholarships.small_description }}</h3></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                   <h3 class="not-saved">You haven't saved any program yet .</h3>
                                    <a id="more" class="not-saved" href="/scholarships/?id=PHD">Click Here For Scholarships</a>
                                {% endif %}
                                <div class="saved">
                                    <div class="icon-saved">
                                        <i class="fa fa-thumb-tack" aria-hidden="true"></i><span>Saved Programs</span>
                                    </div>
                                </div>
                                {% if programs %}
                                <div class="opp-container profile">
                                    <div class="row">
                                        {% for o in programs %}
                                            <div class="opp">
                                                <div class="imgBx">
                                                    <a href="/information_programs?id={{ o.programs.id }}"><img src="{{ o.programs.image_small.url }}"></a>
                                                </div>
                                                <div class="content-visible">
                                                    <h4>{{ o.programs.title }}</h4>
                                                    <hr>
                                                    <h5><span>Deadline:</span> {{ o.programs.deadline }}</h5>
                                                    <h5><span>Location:</span> {{ o.programs.location }}</h5>
                                                </div>
                                                <div class="content-hidden">
                                                    <a href="/information_programs?id={{ o.programs.id }}"><h3>{{ o.programs.small_description }}</h3></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else %}
                                    <h3 class="not-saved">You haven't saved any program yet.</h3>
                                    <a id="more" class="not-saved" href="/programs/?id=TrainingsAndConferences">Click Here For Programs</a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
        <!--User Profile-->

        <!-- Modal -->
        {% include 'modal.html' %}
        <!--End Of Modal -->

        <!-- Footer -->
        {% include 'footer.html' %}
        <!--End Of Footer -->

         <!-- Scripts -->

        {% include 'scripts.html' %}

        <script>
            $(document).ready(function() {
              $('#Register').modal('show');
            });
        </script>
    </body>
</html>